:root {
    background-color: rgb(5, 5, 5);
    font-family: 'Open Sans', sans-serif;
}

*
{
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.log-form-container {
    border: 2px solid rgb(181, 26, 233);
    width: 23rem;
    height: 28.5rem;
    background-color: rgb(33, 33, 33);
}

.log-form-container > .log-form-title {
    text-align: center;
    background-color: rgb(181, 26, 233);
    font-size: 30px;
    padding: 30px;
    color: white;
    text-transform: uppercase;
}

.basic-information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.basic-information-section > .basic-info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    position: relative;
}

.basic-information-section > .basic-info-container > label {
    color: rgb(183, 183, 183);
}

.basic-information-section > .basic-info-container > input[type="text"] {
    width: 300px;
    height: 30px;
    background-color: rgb(33, 33, 33);
    border: 1px solid rgb(66, 63, 63);
    border-radius: 10px;
    color: rgb(183, 183, 183);
}

.basic-information-section > .basic-info-container > input[type="text"]:focus {
    border: 2px solid rgb(181, 26, 233);
    outline: none;
}

.transaction-section {
    position: relative;
    padding: 30px;
    text-align: center;
}

.transaction-section > label {
    color: rgb(183, 183, 183);
}

.php-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.php-actions > button, a {
    padding: 10px 15px;
    border: 2px solid rgb(181, 26, 233);
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    font-size: 1rem;
    text-decoration: none;
    color: rgb(181, 26, 233);
    cursor: pointer;
}

.php-actions > button:hover, a:hover {
    background-color: rgb(181, 26, 233);
    color: rgb(33, 33, 33);
}

.invi {
    display: none;
}

.error {
    position: absolute;
    bottom: 34px;
    left: 100px;
    color: red;
}

.checkbox-error {
    position: absolute;
    top: 50px;
    left: 90px;
    color: red;
}

footer {
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100vw;
    font-size: 1.2rem;
}