:root {
    background-color: rgb(211, 245, 234);
    font-family: 'Open Sans', sans-serif;
}

*
{
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.log-form-container {
    border: 1px solid black;
    width: 23rem;
    height: 28.5rem;
    background-color: bisque;
    box-shadow: 0px 0px 10px 3px rgb(150, 150, 150);
}

.log-form-container > .log-form-title {
    text-align: center;
    background-color: red;
    font-size: 30px;
    padding: 20px;
    color: white;
}

.basic-information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.basic-information-section > .basic-info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    position: relative;
}

.basic-information-section > .basic-info-container > input[type="text"] {
    width: 300px;
    height: 30px;
}

.transaction-section {
    position: relative;
    padding: 30px;
    text-align: center;
}

.php-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.php-actions > button, a {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: beige;
    font-size: 15px;
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.invi {
    display: none;
}

.error {
    position: absolute;
    bottom: 34px;
    left: 100px;
    color: red;
}

.checkbox-error {
    position: absolute;
    top: 50px;
    left: 90px;
    color: red;
}

footer {
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100vw;
    font-size: 1.2rem;
}