*
{
    padding: 0;
    margin: 0;
}

.center {
    background-color: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container {
    text-align: center;
    padding: 10px;
}

.table-container {
    max-height: 400px;
    overflow: scroll;
}

table {
    border: 1px solid black;
    margin: 30px;
}

table > thead > tr > th[colspan="100%"] {
    background-color: rgb(252, 249, 119);
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

table > thead > .log-infos > th {
    padding: 10px 16px;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

table > thead > .log-infos > th:nth-child(1) {
    background-color: rgb(146, 241, 218);
}

table > thead > .log-infos > th:nth-child(2) {
    background-color: rgb(247, 183, 140);
}

table > thead > .log-infos > th:nth-child(3) {
    background-color: rgb(126, 240, 50);
}

table > thead > .log-infos > th:nth-child(4) {
    background-color: red;
}

table > tbody > tr {
    text-align: center;
}

table > tbody > tr > td {
    padding: 8px 12px;
    font-size: 1.2rem;
}

table > tbody > tr > td:nth-child(1) {
    background-color: rgb(146, 241, 218);
}

table > tbody > tr > td:nth-child(2) {
    background-color: rgb(247, 183, 140);
}

table > tbody > tr > td:nth-child(3) {
    background-color: rgb(126, 240, 50);
}

table > tbody > tr > td:nth-child(4) {
    background-color: red;
}

table > tbody > tr > td > a {
    text-decoration: none;
    color: white;
}

.search-container > button, .button {
    padding: 8px 12px;
    background-color: rgb(239, 239, 229);
    border: 1px solid black;
    border-radius: 1px;
    color: black;
    cursor: pointer;
}

.button {
    text-decoration: none;
}